body{font-family:sans-serif;background:#111;color:#eee}
.wrap{max-width:480px;margin:auto;
      min-height: 1200px;   /* 增加可滑動高度 */
      padding-bottom: 200px; /* 避免浮動按鈕遮住內容 */
}
.card{background:#222;padding:10px;margin:10px 0;border-radius:8px}
button{margin:4px}
img{max-width:100px}
#log{font-size:14px;margin-top:5px}

#magic-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  pointer-events: none; /* 不擋按鈕 */
  z-index: 0;

  background: radial-gradient(circle at center, #1a0033, #000);
  overflow: hidden;
}
